flows_waterpi.json
[{"id":"5d0da1df.64672","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"353c880b.f86888","type":"tab","label":"Allgemeine Konfiguration","disabled":false,"info":""},{"id":"cbdee8c5.be4428","type":"tab","label":"Modbus","disabled":false,"info":""},{"id":"361d0b34.9c31d4","type":"tab","label":"Flex Server as Slave","disabled":false,"info":""},{"id":"9e3da2c2.213cf","type":"tab","label":"Datenbank","disabled":false,"info":""},{"id":"526ee6df.936e88","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"32c88ccf.250fa4","type":"tab","label":"1 Wire","disabled":true,"info":""},{"id":"c86a66c9.75d2f8","type":"tab","label":"I2C","disabled":true,"info":""},{"id":"f576701f.b4588","type":"tab","label":"GPIO","disabled":true,"info":""},{"id":"b0d1862f.e1b558","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fedaac38.cca0c","type":"subflow","name":"Motor","info":"","category":"","in":[{"x":180,"y":60,"wires":[{"id":"16afe673.489f8a"}]}],"out":[{"x":400,"y":60,"wires":[{"id":"16afe673.489f8a","port":0}]}],"env":[],"color":"#3177e8","icon":"font-awesome/fa-automobile"},{"id":"238b3598.9ed23a","type":"subflow","name":"Generator","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"7b4aceee.ac6da"}]}],"out":[{"x":280,"y":40,"wires":[{"id":"7b4aceee.ac6da","port":0}]}],"env":[],"color":"#45c42b","icon":"node-red/light.svg"},{"id":"311f7455.5c38cc","type":"subflow","name":"Statuswort","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"7d942021.64e88"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"7d942021.64e88","port":0}]}],"env":[],"color":"#64a3a2","icon":"node-red/file-in.svg"},{"id":"58bc0954.1d3568","type":"subflow","name":"Steuerwort","info":"","category":"","in":[{"x":80,"y":40,"wires":[{"id":"36416462.08d24c"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"36416462.08d24c","port":0}]}],"env":[],"color":"#64a3a2","icon":"node-red/file-out.svg"},{"id":"c50717d5.a9f8c8","type":"subflow","name":"Steuerung FU","info":"","category":"","in":[{"x":120,"y":240,"wires":[{"id":"2501cbb3.d64a34"}]}],"out":[{"x":680,"y":240,"wires":[{"id":"b0eb33f2.752f5","port":0},{"id":"4c972070.322f9","port":0},{"id":"c6346d60.282c7","port":0}]}],"env":[],"color":"#AAAAAA","inputLabels":["true/false"],"outputLabels":["payload.value = 1151/1150"],"icon":"font-awesome/fa-power-off"},{"id":"a4c941dd.0b338","type":"subflow","name":"Topic Übersetzer Datenbank","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"2247b509.4c835a"}]}],"out":[{"x":400,"y":100,"wires":[{"id":"2247b509.4c835a","port":0}]}],"env":[],"color":"#ABCDEF","icon":"font-awesome/fa-chevron-circle-right"},{"id":"8f584492.362b88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7a618d81.1089a4","type":"ui_group","z":"","name":"Default","tab":"8f584492.362b88","disp":true,"width":"6","collapse":false},{"id":"70815010.4d009","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2c786b5f.4bfd94","type":"ui_group","z":"","name":"Links","tab":"747957e4.177308","order":1,"disp":false,"width":"12","collapse":false},{"id":"747957e4.177308","type":"ui_tab","z":"","name":"Home","icon":"home","disabled":false,"hidden":false},{"id":"a31ae662.6c5e38","type":"ui_tab","z":"","name":"Home","icon":"home","disabled":false,"hidden":false},{"id":"7c679adb.ba2464","type":"ui_group","z":"","name":"Mitte","tab":"a31ae662.6c5e38","order":2,"disp":false,"width":"6","collapse":false},{"id":"a07edcfe.6720e","type":"ui_group","z":"","name":"Rechts","tab":"a31ae662.6c5e38","order":3,"disp":false,"width":"6","collapse":false},{"id":"74495804.a4c298","type":"ui_group","z":"","name":"Links","tab":"a31ae662.6c5e38","order":1,"disp":false,"width":"12","collapse":false},{"id":"c4a682cd.e4bd7","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"30ea0500.da250a","type":"modbus-client","z":"","name":"Test2","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"1000","unit_id":1,"commandDelay":5,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"902ab2c9.3c73a","type":"telegram bot","z":"","botname":"wasserbotnotebook","usernames":"Seppel","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8df09a5a.d30b08","type":"ui_group","z":"","name":"Default","tab":"728a50df.2e62b","disp":true,"width":"6"},{"id":"728a50df.2e62b","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"971757a0.4553f8","type":"modbus-client","z":"","d":true,"name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"11502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"f036ef60.c2453","type":"ui_group","z":"","name":"ui_control","tab":"e791006f.df678","order":1,"disp":true,"width":"22","collapse":false},{"id":"e791006f.df678","type":"ui_tab","z":"","name":"Home","icon":"track_changes","order":1,"disabled":false,"hidden":false},{"id":"b0225046.54761","type":"debug","z":"5d0da1df.64672","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"1dd5d1d.a01812e","type":"inject","z":"5d0da1df.64672","name":"","topic":"","payload":"1151","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["e19c2b26.da2c48"]]},{"id":"e19c2b26.da2c48","type":"function","z":"5d0da1df.64672","name":"","func":"return { payload: \"10101011\"};\n","outputs":1,"noerr":0,"x":360,"y":320,"wires":[[]]},{"id":"6d507d24.e83f84","type":"ui_gauge","z":"cbdee8c5.be4428","name":"Strom","group":"74495804.a4c298","order":7,"width":"4","height":"4","gtype":"gage","title":"Strom","label":"Amper","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":880,"wires":[]},{"id":"1c4cd008.11974","type":"ui_gauge","z":"cbdee8c5.be4428","name":"Spannung","group":"74495804.a4c298","order":6,"width":"4","height":"4","gtype":"gage","title":"Spannung","label":"Volt","format":"{{value}}","min":"350","max":"450","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":940,"wires":[]},{"id":"e5341f28.6be0e","type":"ui_slider","z":"cbdee8c5.be4428","name":"","label":"Soll Drehzahl","tooltip":"0 bis 1500","group":"74495804.a4c298","order":1,"width":"0","height":"0","passthru":true,"outs":"end","topic":"Drehzahl (soll)","min":0,"max":"1500","step":"10","x":330,"y":240,"wires":[["94c4837b.36324"]]},{"id":"d73b625c.b0688","type":"1-Wire","z":"32c88ccf.250fa4","identifier":"28-031497940b33","name":"Temperatursensor","format":"1","x":370,"y":80,"wires":[["ac21b4cd.66fc08"]]},{"id":"5b9402d3.db391c","type":"inject","z":"32c88ccf.250fa4","name":"","topic":"Temperatur","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["d73b625c.b0688"]]},{"id":"afa76246.60e1b","type":"ui_gauge","z":"32c88ccf.250fa4","name":"Temperatur","group":"7c679adb.ba2464","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"°C","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":60,"wires":[]},{"id":"650f3d23.133fc4","type":"rbe","z":"32c88ccf.250fa4","name":"rbe","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":80,"wires":[["afa76246.60e1b","fe48266e.cf4e48"]]},{"id":"ac21b4cd.66fc08","type":"smooth","z":"32c88ccf.250fa4","name":"","property":"payload","action":"mean","count":"2","round":"1","mult":"single","reduce":true,"x":540,"y":80,"wires":[["650f3d23.133fc4"]]},{"id":"fe48266e.cf4e48","type":"debug","z":"32c88ccf.250fa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":120,"wires":[]},{"id":"1e199099.c23ccf","type":"inject","z":"c86a66c9.75d2f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["1576ff44.9cb761"]]},{"id":"aab62296.25127","type":"debug","z":"c86a66c9.75d2f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"1576ff44.9cb761","type":"ncd-ads1115","z":"c86a66c9.75d2f8","name":"","connection":"","addr":"73","interval":"100","outputs":1,"output_all":false,"output_mult":"1","channel_1":"4","channel_2":"5","channel_3":"6","channel_4":"7","gain":"0","mode":"2","rate":"4","compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":300,"y":80,"wires":[["aab62296.25127"]]},{"id":"81c2a27c.827df","type":"ui_gauge","z":"cbdee8c5.be4428","name":"","group":"74495804.a4c298","order":4,"width":"4","height":"4","gtype":"gage","title":"{{msg.payload.bezeichnung}}","label":"U/min","format":"{{value}}","min":0,"max":"1500","colors":["#ca3838","#00b500","#ca3838"],"seg1":"100","seg2":"1400","x":690,"y":920,"wires":[]},{"id":"166ee506.9f759b","type":"function","z":"cbdee8c5.be4428","name":"","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 2, 'address': 100 , 'quantity': 15 };\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":840,"wires":[[]]},{"id":"d0e6a88e.c46198","type":"ui_gauge","z":"cbdee8c5.be4428","name":"Leistung","group":"74495804.a4c298","order":5,"width":"4","height":"4","gtype":"gage","title":"Leistung","label":"kW","format":"{{value}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":1000,"wires":[]},{"id":"6049d34e.23b18c","type":"ui_switch","z":"cbdee8c5.be4428","name":"","label":"Generator","tooltip":"","group":"74495804.a4c298","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"Steuerwort","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":180,"wires":[["2f45881a.112778"]]},{"id":"1987e353.37f9cd","type":"function","z":"cbdee8c5.be4428","name":"Dec to Binary","func":"var status = msg.payload[0].toString(2).padStart(16, '0');\nreturn {\n    payload:status\n    };","outputs":1,"noerr":0,"x":880,"y":1060,"wires":[[]]},{"id":"512af252.78d25c","type":"debug","z":"f576701f.b4588","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]},{"id":"52ee69be.af4198","type":"switch","z":"f576701f.b4588","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":120,"wires":[["1ab02b2a.1cd145"]]},{"id":"1ab02b2a.1cd145","type":"join","z":"f576701f.b4588","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"[]","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":120,"wires":[["2c5814c8.e08ccc"]]},{"id":"2c5814c8.e08ccc","type":"function","z":"f576701f.b4588","name":"","func":"msg.payload = msg.payload.length*12;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["9694b341.629b"]]},{"id":"9694b341.629b","type":"change","z":"f576701f.b4588","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"12","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["512af252.78d25c"]]},{"id":"5ad5fbc0.d72c14","type":"comment","z":"f576701f.b4588","name":"Drehzahl erfassen","info":"","x":150,"y":60,"wires":[]},{"id":"9cfb6aa1.d78cb8","type":"comment","z":"32c88ccf.250fa4","name":"Temperatur erfassen","info":"","x":170,"y":40,"wires":[]},{"id":"ead70e5a.0921","type":"ui_button","z":"cbdee8c5.be4428","name":"","group":"7c679adb.ba2464","order":1,"width":0,"height":0,"passthru":true,"label":"Initialisieren","tooltip":"Initialisiert Motor und Generator nach Spannungsausfall","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":150,"y":180,"wires":[["f5a17307.24b83","6049d34e.23b18c"]]},{"id":"f5a17307.24b83","type":"ui_switch","z":"cbdee8c5.be4428","name":"","label":"Motor","tooltip":"","group":"74495804.a4c298","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"Steuerwort","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":80,"wires":[["6e464df.de931b4"]]},{"id":"39b37a4e.505da6","type":"ui_button","z":"cbdee8c5.be4428","name":"","group":"a07edcfe.6720e","order":1,"width":0,"height":0,"passthru":false,"label":"Alles aus","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":140,"y":80,"wires":[["f5a17307.24b83","6049d34e.23b18c"]]},{"id":"5453b731.2f5d38","type":"link in","z":"cbdee8c5.be4428","name":"Modbus: Motor: Soll_Drehzahl IN ","links":["aaf7fa1.3f1ac08","9ec2b6bc.f3b968"],"x":215,"y":240,"wires":[["e5341f28.6be0e"]]},{"id":"aaf5bb8e.7f8a68","type":"link in","z":"cbdee8c5.be4428","name":"Modbus: Motor: An/Aus IN ","links":["803ef8df.9d8288"],"x":195,"y":40,"wires":[["f5a17307.24b83"]]},{"id":"75e4ed17.0f58b4","type":"telegram command","z":"526ee6df.936e88","name":"/motoraus","command":"/motoraus","bot":"902ab2c9.3c73a","strict":false,"x":140,"y":100,"wires":[["d3cf96e8.7c5838"],[]]},{"id":"426d393b.b59328","type":"telegram command","z":"526ee6df.936e88","name":"/motoran","command":"/motoran","bot":"902ab2c9.3c73a","strict":false,"x":140,"y":180,"wires":[["2b1a0839.fc7578"],[]]},{"id":"2b1a0839.fc7578","type":"switch","z":"526ee6df.936e88","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":160,"wires":[["9b982fe6.42bc7"],["3c7ff91a.be8d46","9b982fe6.42bc7"]]},{"id":"9b982fe6.42bc7","type":"change","z":"526ee6df.936e88","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":140,"wires":[["803ef8df.9d8288"]]},{"id":"3c7ff91a.be8d46","type":"change","z":"526ee6df.936e88","name":"Drehzahl auslesen","rules":[{"t":"set","p":"payload.value","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["40b51027.47fa8"]]},{"id":"d3cf96e8.7c5838","type":"change","z":"526ee6df.936e88","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":100,"wires":[["803ef8df.9d8288"]]},{"id":"803ef8df.9d8288","type":"link out","z":"526ee6df.936e88","name":"Telegram: Motor: An/Aus OUT","links":["aaf5bb8e.7f8a68"],"x":575,"y":120,"wires":[]},{"id":"40b51027.47fa8","type":"function","z":"526ee6df.936e88","name":"String to Int","func":"\nmsg.payload.value = parseInt(msg.payload.value);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["d123c271.821b6"]]},{"id":"9ec2b6bc.f3b968","type":"link out","z":"526ee6df.936e88","name":"Telegram: Motor: Soll_Drehzahl OUT","links":["5453b731.2f5d38"],"x":1195,"y":200,"wires":[]},{"id":"538d971c.a12f98","type":"modbus-flex-write","z":"cbdee8c5.be4428","name":"Flex Writer","showStatusActivities":true,"showErrors":false,"server":"30ea0500.da250a","x":390,"y":540,"wires":[[],[]]},{"id":"f48cd073.92a1f","type":"link in","z":"cbdee8c5.be4428","name":"Modbus: IN","links":["8c803257.75ccd"],"x":75,"y":480,"wires":[["3000d8f2.0fcde8"]]},{"id":"8c803257.75ccd","type":"link out","z":"cbdee8c5.be4428","name":"Modbus: Motor: Steuerwort OUT","links":["f48cd073.92a1f","87a8749f.cb3828"],"x":855,"y":200,"wires":[]},{"id":"9668e9dd.3206c8","type":"function","z":"cbdee8c5.be4428","name":"Motor Steuerwort","func":"msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 2, 'address': 0 , 'quantity': 1, 'rw':\"schreiben\" }\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":100,"wires":[[]]},{"id":"2ba2c31.a33ba3c","type":"function","z":"cbdee8c5.be4428","name":"Generator Steuerwort","func":"msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 3, 'address': 0 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":280,"wires":[[]]},{"id":"be4ea655.7a04f8","type":"delay","z":"cbdee8c5.be4428","name":"Begrenzung msg/50ms","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.05","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":480,"wires":[["6a760aee.01d664"]]},{"id":"50069fda.94913","type":"function","z":"cbdee8c5.be4428","name":"Motor Steuerwort","func":"msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 2, 'address': 1 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":240,"wires":[[]]},{"id":"6bd1103f.0ff04","type":"inject","z":"353c880b.f86888","name":"Einstellungsdatei erstellen","topic":"","payload":"{\"modbusid\":[{\"name\":\"Motor\",\"id\":2},{\"name\":\"Generator\",\"id\":3}],\"adr\":[{\"bezeichnung\":\"Drehzahl (ist)\",\"adr\":100,\"rw\":\"lesen\",\"fc\":3,\"abf\":true,\"min\":0,\"max\":1700},{\"bezeichnung\":\"Strom\",\"adr\":106,\"rw\":\"lesen\",\"fc\":3,\"abf\":true,\"min\":0,\"max\":20},{\"bezeichnung\":\"Spannung\",\"adr\":106,\"rw\":\"lesen\",\"fc\":3,\"abf\":true,\"min\":350,\"max\":450},{\"bezeichnung\":\"Leistung\",\"adr\":106,\"rw\":\"lesen\",\"fc\":3,\"abf\":true,\"min\":0,\"max\":3000},{\"bezeichnung\":\"Statuswort\",\"adr\":3,\"rw\":\"lesen\",\"fc\":3,\"abf\":false},{\"bezeichnung\":\"Drehzahl (soll)\",\"adr\":1,\"rw\":\"schreiben\",\"fc\":6,\"abf\":false,\"min\":0,\"max\":1500},{\"bezeichnung\":\"Steuerwort\",\"adr\":0,\"rw\":\"schreiben\",\"fc\":6,\"abf\":false}],\"statusword\":[{\"Bit\":\"0\",\"Name\":\"Einschaltbereit \",\"Status1\":\"EINSCHALTBEREIT.\",\"Status0\":\"NICHT EINSCHALTBEREIT.\"},{\"Bit\":\"1\",\"Name\":\"Betriebsbereit \",\"Status1\":\"BETRIEBSBEREIT.\",\"Status0\":\"AUS1 AKTIV.\"},{\"Bit\":\"2\",\"Name\":\"Bereit für Sollwert \",\"Status1\":\"BETRIEB FREIGEGEBEN.\",\"Status0\":\"BETRIEB GESPERRT. Siehe Parameter 06.18 Startsperre Status wort und 06.25 Umricht.sperre Statuswort 2 für die Sperrbedingung.\"},{\"Bit\":\"3\",\"Name\":\"Störung \",\"Status1\":\"STÖRUNG.\",\"Status0\":\"Keine Störung.\"},{\"Bit\":\"4\",\"Name\":\"AUS 2 nicht aktiv \",\"Status1\":\"AUS2 nicht aktiv.\",\"Status0\":\"AUS2 aktiv.\"},{\"Bit\":\"5\",\"Name\":\"AUS 3 nicht aktiv \",\"Status1\":\"AUS3 nicht aktiv.\",\"Status0\":\"AUS3 aktiv.\"},{\"Bit\":\"6\",\"Name\":\"Einschaltsperre \",\"Status1\":\"EINSCHALTSPERRE.\",\"Status0\":\"-\"},{\"Bit\":\"7\",\"Name\":\"Warnung \",\"Status1\":\"Warnung aktiv.\",\"Status0\":\"Keine Warnung aktiv.\"},{\"Bit\":\"8\",\"Name\":\"Auf Sollwert \",\"Status1\":\"IN BETRIEB. Istwert ist gleich dem Sollwert = ist innerhalb der Toleranzgrenzen (siehe Parameter 46.21…46.23).\",\"Status0\":\"Der Istwert weicht vom Sollwert ab = liegt außerhalb der Toleranz grenzen.\"},{\"Bit\":\"9\",\"Name\":\"Fernsteuerung \",\"Status1\":\"Antriebs-Steuerplatz: REMOTE (EXT1 oder EXT2)\",\"Status0\":\"Antriebs-Steuerplatz: LOCAL.\"},{\"Bit\":\"10\",\"Name\":\"Über Grenze \",\"Status1\":\"Siehe Parameter 06.29 Ausw. HStatwrt Bit 10.\",\"Status0\":\"\"},{\"Bit\":\"11\",\"Name\":\"Anwender-Bit 0 \",\"Status1\":\"Siehe Parameter 06.30 Ausw. HStatwrt Bit 11.\",\"Status0\":\"\"},{\"Bit\":\"12\",\"Name\":\"Anwender-Bit 1 \",\"Status1\":\"Siehe Parameter 06.31 Ausw. HStatwrt Bit 12.\",\"Status0\":\"\"},{\"Bit\":\"13\",\"Name\":\"Anwender-Bit 2 \",\"Status1\":\"Siehe Parameter 06.32 Ausw. HStatwrt Bit 13.\",\"Status0\":\"\"},{\"Bit\":\"14\",\"Name\":\"Anwender-Bit 3 \",\"Status1\":\"Siehe Parameter 06.33 Ausw. HStatwrt Bit 14.\",\"Status0\":\"\"},{\"Bit\":\"15\",\"Name\":\"Reserviert\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["b07fb488.6d5a78"]],"icon":"node-red/file-out.svg"},{"id":"a53f3814.5f6a58","type":"debug","z":"353c880b.f86888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":140,"wires":[]},{"id":"45610117.d93bc","type":"function","z":"353c880b.f86888","name":"In Globaler Varibale Settings speichern","func":"global.set('settings',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["a9cd954b.92f3a8","41d889a7.936818"]]},{"id":"6a760aee.01d664","type":"switch","z":"cbdee8c5.be4428","name":"","property":"payload.rw","propertyType":"msg","rules":[{"t":"eq","v":"schreiben","vt":"str"},{"t":"eq","v":"lesen","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":540,"wires":[["538d971c.a12f98"],["3576a486.8f7aac","cbab6615.721408","853b4e22.cb99b"]]},{"id":"3576a486.8f7aac","type":"modbus-flex-getter","z":"cbdee8c5.be4428","name":"Flex Getter","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"30ea0500.da250a","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":390,"y":580,"wires":[["714a6d97.7c9204","c3332286.935af"],[]]},{"id":"1af6f28c.d1efdd","type":"link out","z":"cbdee8c5.be4428","name":"Modbus: Flex Getter OUT","links":["87a8749f.cb3828","d759d984.5c2ad8"],"x":655,"y":680,"wires":[]},{"id":"16afe673.489f8a","type":"function","z":"fedaac38.cca0c","name":"Motor","func":"var settings = global.get('settings');\nvar index = 0;\n    msg.payload['idname'] = settings.modbusid[index].name;\n    msg.payload['unitid'] = settings.modbusid[index].id;\nreturn msg;\n\n/*\nvar settings = global.get('settings');\nvar name = \"Steuerwort\";\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;*/","outputs":1,"noerr":0,"x":290,"y":60,"wires":[[]]},{"id":"7b4aceee.ac6da","type":"function","z":"238b3598.9ed23a","name":"Generator","func":"var settings = global.get('settings');\nvar i = 1;\n/*var value = msg.payload;*/\n    msg.payload['idname'] = settings.modbusid[i].name;\n    msg.payload['unitid'] = settings.modbusid[i].id;\nreturn msg;\n","outputs":1,"noerr":0,"x":160,"y":40,"wires":[[]]},{"id":"7d942021.64e88","type":"function","z":"311f7455.5c38cc","name":"Generator","func":"var settings = global.get('settings');\nvar i = 1;\nmsg.payload = { value: msg.payload, 'fc': settings.modbusid[i].name, 'address': 0 , 'quantity': 1 }\nreturn msg.payload;","outputs":1,"noerr":0,"x":180,"y":40,"wires":[[]]},{"id":"36416462.08d24c","type":"function","z":"58bc0954.1d3568","name":"Steuerwort","func":"var settings = global.get('settings');\nvar name = \"Steuerwort\";\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":40,"wires":[[]]},{"id":"c693d31a.c6d1a","type":"subflow:fedaac38.cca0c","z":"cbdee8c5.be4428","name":"","env":[],"x":670,"y":80,"wires":[["8c803257.75ccd"]]},{"id":"8f2c0700.6e67a8","type":"subflow:58bc0954.1d3568","z":"cbdee8c5.be4428","name":"","env":[],"x":850,"y":60,"wires":[[]]},{"id":"32f0ccf7.6b8b04","type":"debug","z":"cbdee8c5.be4428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":1180,"wires":[]},{"id":"853b4e22.cb99b","type":"join","z":"cbdee8c5.be4428","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":660,"wires":[["1af6f28c.d1efdd"]]},{"id":"714a6d97.7c9204","type":"function","z":"cbdee8c5.be4428","name":"","func":"msg.payload={value: msg.payload[0]}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["853b4e22.cb99b"]]},{"id":"b07fb488.6d5a78","type":"file","z":"353c880b.f86888","name":"","filename":"/home/pi/.node-red/customsettings/settings_waterpi.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":160,"wires":[[]]},{"id":"cbab6615.721408","type":"function","z":"cbdee8c5.be4428","name":"Getter Emulator","func":"msg.payload = {'valueread':400}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":720,"wires":[["853b4e22.cb99b"]]},{"id":"5d52604d.afcbb","type":"switch","z":"cbdee8c5.be4428","name":"","property":"payload.bezeichnung","propertyType":"msg","rules":[{"t":"eq","v":"settings.adr[0]","vt":"global"},{"t":"eq","v":"settings.adr[1]","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":960,"wires":[["81c2a27c.827df"],[]]},{"id":"29439d80.4c5cf2","type":"function","z":"cbdee8c5.be4428","d":true,"name":"Abfrageübersetzung","func":"var settings = global.get('settings');\nfor(i=0; i<settings.abfragen.length; i++){\n}\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":920,"wires":[[]]},{"id":"80f8e7ea.5148c8","type":"subflow:238b3598.9ed23a","z":"cbdee8c5.be4428","name":"","env":[],"x":330,"y":1120,"wires":[[]]},{"id":"c9ab98c0.57c1b8","type":"switch","z":"cbdee8c5.be4428","name":"Motor oder Generator","property":"payload.idname","propertyType":"msg","rules":[{"t":"eq","v":"Motor","vt":"str"},{"t":"eq","v":"Generator","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1040,"wires":[["5d52604d.afcbb"],[]],"outputLabels":["Motor","Generator"]},{"id":"63d21255.9ec1ac","type":"split","z":"cbdee8c5.be4428","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":540,"y":1120,"wires":[[]]},{"id":"d6ad4ef9.d2754","type":"function","z":"cbdee8c5.be4428","name":"Abfrageübersetzung neu","func":"var settings = global.get('settings');\nvar abf = true;\nvar abfragen = []\nvar msg1 = {payload: msg.payload};\nmsg1.payload['abfragen'] = settings.adr;\n\n/*    for (var i = 0; i < settings.adr.length; i++){\n     // look for the entry with a matching `code` value\n        if (settings.adr[i].abf == abf){\n            var daten = settings.adr[i];\n            msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n            msg.payload['address'] = daten.adr;\n            msg.payload['rw'] = daten.rw;\n            msg.payload['fc'] = daten.fc;\n            msg.payload['quantity'] = 1;\n        }\n        \n    } \n\n*/\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":830,"y":1140,"wires":[[]]},{"id":"ce09fef7.1fe7a","type":"file in","z":"353c880b.f86888","name":"","filename":"/home/pi/.node-red/customsettings/settings_waterpi.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":220,"wires":[["37897cc7.7f4ee4"]]},{"id":"dfeab18e.bc311","type":"inject","z":"353c880b.f86888","name":"Einstellungsdatei einlesen","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":220,"wires":[["ce09fef7.1fe7a"]]},{"id":"8b388b36.2c6088","type":"debug","z":"353c880b.f86888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":180,"wires":[]},{"id":"37897cc7.7f4ee4","type":"json","z":"353c880b.f86888","name":"","property":"payload","action":"","pretty":false,"x":410,"y":280,"wires":[["45610117.d93bc"]]},{"id":"3bda8f0f.9a72c","type":"ui_toast","z":"353c880b.f86888","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":660,"y":340,"wires":[]},{"id":"a9cd954b.92f3a8","type":"change","z":"353c880b.f86888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Daten erfolgreich aus Einstellung gelesen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["3bda8f0f.9a72c"]]},{"id":"f4ef3ecd.fbec1","type":"ui_toast","z":"cbdee8c5.be4428","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Initialisieren","cancel":"Steuerungsneustart","raw":false,"topic":"","name":"","x":270,"y":120,"wires":[["823b5704.a3de08"]]},{"id":"f4c76553.d6f988","type":"inject","z":"cbdee8c5.be4428","name":"","topic":"","payload":"Es wurde ein Spannungsaufsfall der Frequenzumrichter oder der Steuerung dedektiert. Bitte Initialisieren Sie die Frequenzumrichter um eine Steuerung zu ermöglichen. Sollte nur die Steuerung neu gestartet worden sein bestätigen Sie bitte mit Steuerungsneustart.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["f4ef3ecd.fbec1"]]},{"id":"823b5704.a3de08","type":"switch","z":"cbdee8c5.be4428","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Steuerungsneustart","vt":"str"},{"t":"eq","v":"Initialisieren","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":120,"wires":[[],["ead70e5a.0921"]],"outputLabels":["Steuerungsneustart","Initialisieren"]},{"id":"b0eb33f2.752f5","type":"change","z":"c50717d5.a9f8c8","name":"Anschalten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":1151}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[[]]},{"id":"4c972070.322f9","type":"change","z":"c50717d5.a9f8c8","name":"Abschalten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":1150}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[[]]},{"id":"2501cbb3.d64a34","type":"switch","z":"c50717d5.a9f8c8","name":"True/False/Drehzahl","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":280,"y":240,"wires":[["b0eb33f2.752f5"],["4c972070.322f9"],["c6346d60.282c7"]]},{"id":"6e464df.de931b4","type":"subflow:c50717d5.a9f8c8","z":"cbdee8c5.be4428","name":"","env":[],"x":510,"y":80,"wires":[["c693d31a.c6d1a"]]},{"id":"2f45881a.112778","type":"subflow:c50717d5.a9f8c8","z":"cbdee8c5.be4428","name":"","x":510,"y":180,"wires":[["cca82d7b.ca5af"]]},{"id":"94c4837b.36324","type":"subflow:c50717d5.a9f8c8","z":"cbdee8c5.be4428","name":"","env":[],"x":510,"y":240,"wires":[["c875116e.e718"]]},{"id":"c6346d60.282c7","type":"change","z":"c50717d5.a9f8c8","name":"Drehzahl","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[[]]},{"id":"b9168504.912868","type":"comment","z":"c50717d5.a9f8c8","name":"true/false/Drehzahl","info":"Der Subflof aktzeptiert true/false oder einen Nummerischen Wert um daraus die richtigen Werte für msg.payload.value zu extrahieren. Der Subflow kann universell eingesetzt werden und ist in jeder Kette die an den Flex Writer führt notwendig.","x":210,"y":140,"wires":[]},{"id":"c875116e.e718","type":"subflow:fedaac38.cca0c","z":"cbdee8c5.be4428","name":"","env":[],"x":670,"y":240,"wires":[["8c803257.75ccd"]]},{"id":"cca82d7b.ca5af","type":"subflow:238b3598.9ed23a","z":"cbdee8c5.be4428","name":"","x":680,"y":180,"wires":[["8c803257.75ccd"]]},{"id":"2247b509.4c835a","type":"function","z":"a4c941dd.0b338","name":"Topic Übersetzen","func":"var settings = global.get('settings');\nvar name = msg.topic;\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[[]]},{"id":"3000d8f2.0fcde8","type":"subflow:a4c941dd.0b338","z":"cbdee8c5.be4428","name":"","env":[],"x":240,"y":480,"wires":[["be4ea655.7a04f8"]]},{"id":"5df248a0.0c6648","type":"ui_switch","z":"b0d1862f.e1b558","name":"","label":"switch","group":"8df09a5a.d30b08","order":0,"width":0,"height":0,"passthru":true,"topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":160,"wires":[["3e9f04a7.9ca53c"]]},{"id":"3e9f04a7.9ca53c","type":"function","z":"b0d1862f.e1b558","name":"control","func":"if (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return msg; // if enabled pass msg\n}\nreturn null; // or drop it","outputs":1,"noerr":0,"x":498,"y":180,"wires":[["607dd52a.e332ac"]]},{"id":"cbc37351.905a3","type":"inject","z":"b0d1862f.e1b558","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":332.5,"y":222,"wires":[["3e9f04a7.9ca53c"]]},{"id":"607dd52a.e332ac","type":"debug","z":"b0d1862f.e1b558","name":"","active":true,"console":"false","complete":"payload","x":708.5,"y":181,"wires":[]},{"id":"e065f097.d5a06","type":"comment","z":"b0d1862f.e1b558","name":"Gate .. vielleicht nützlich","info":"","x":350,"y":120,"wires":[]},{"id":"c3332286.935af","type":"debug","z":"cbdee8c5.be4428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":540,"wires":[]},{"id":"9586016e.0bffc","type":"split","z":"cbdee8c5.be4428","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":540,"y":1180,"wires":[[]]},{"id":"d123c271.821b6","type":"switch","z":"526ee6df.936e88","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"btwn","v":"settings.adr[5].min","vt":"global","v2":"settings.adr[5].max","v2t":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":180,"wires":[["39eb01ae.59708e"],["91a3c5ba.af02e8"]],"outputLabels":["0-1500","otherwise"]},{"id":"967e1a77.0ccfc8","type":"telegram sender","z":"526ee6df.936e88","name":"Antwort","bot":"902ab2c9.3c73a","x":280,"y":460,"wires":[[]]},{"id":"91a3c5ba.af02e8","type":"change","z":"526ee6df.936e88","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Bitte geben Sie einen Drehzahlwert zwischen 0 und 1500 im Format /motoran xxxx an.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":240,"wires":[["bc439091.8d2e9"]]},{"id":"59a93e3b.8977f","type":"telegram command","z":"526ee6df.936e88","name":"/status","command":"/status","bot":"902ab2c9.3c73a","strict":false,"x":130,"y":400,"wires":[["12884e21.da5262"],[]]},{"id":"dcc5c528.f51b08","type":"rpi-gpio in","z":"f576701f.b4588","name":"","pin":"11","intype":"up","debounce":"10","read":true,"x":140,"y":120,"wires":[["52ee69be.af4198"]]},{"id":"598bd063.ec324","type":"inject","z":"cbdee8c5.be4428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["d4fbff6.3f49e"]]},{"id":"d4fbff6.3f49e","type":"change","z":"cbdee8c5.be4428","name":"Time set","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":300,"wires":[["52bf5c0d.a37494"]]},{"id":"52bf5c0d.a37494","type":"function","z":"cbdee8c5.be4428","name":"Abfrageübersetzung","func":"var settings = global.get('settings');\nvar j = 0;\nvar abfrage = true;\nfor (var i = 0; i < settings.adr.length; i++){\n     // look for the entry with a matching `code` value\n    if (settings.adr[i].abf == abfrage){\n        msg.topic = settings.adr[i].bezeichnung;\n        node.send(msg);\n    }\n}\nreturn;\n\n","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["ae84b7e3.3a7328","6685d736.15fff8"]]},{"id":"ae84b7e3.3a7328","type":"subflow:fedaac38.cca0c","z":"cbdee8c5.be4428","name":"","env":[],"x":670,"y":300,"wires":[["8c803257.75ccd"]]},{"id":"6685d736.15fff8","type":"subflow:238b3598.9ed23a","z":"cbdee8c5.be4428","name":"","x":680,"y":340,"wires":[["8c803257.75ccd"]]},{"id":"87a8749f.cb3828","type":"link in","z":"cbdee8c5.be4428","name":"Anzeige: IN ","links":["8c803257.75ccd","1af6f28c.d1efdd"],"x":95,"y":1040,"wires":[["c9ab98c0.57c1b8"]]},{"id":"2a3beed5.d0f112","type":"telegram receiver","z":"526ee6df.936e88","name":"","bot":"902ab2c9.3c73a","saveDataDir":"","x":170,"y":320,"wires":[["46a03b42.99ade4"],["b8dfbfd6.2d4d8"]]},{"id":"d759d984.5c2ad8","type":"link in","z":"526ee6df.936e88","name":"Telegram: Antwort IN","links":["1af6f28c.d1efdd","bc439091.8d2e9"],"x":155,"y":460,"wires":[["967e1a77.0ccfc8"]]},{"id":"46a03b42.99ade4","type":"debug","z":"526ee6df.936e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":300,"wires":[]},{"id":"b8dfbfd6.2d4d8","type":"debug","z":"526ee6df.936e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":340,"wires":[]},{"id":"12884e21.da5262","type":"link out","z":"526ee6df.936e88","name":"Telegram /status OUT","links":["2805e214.12777e"],"x":255,"y":380,"wires":[]},{"id":"2805e214.12777e","type":"link in","z":"cbdee8c5.be4428","name":"Abfrage IN","links":["12884e21.da5262"],"x":155,"y":340,"wires":[["d4fbff6.3f49e"]]},{"id":"15faffc2.18b01","type":"comment","z":"cbdee8c5.be4428","name":"Steuerung AN/AUS","info":"","x":370,"y":40,"wires":[]},{"id":"7a3b9e23.4c7a3","type":"comment","z":"cbdee8c5.be4428","name":"Modbus RTU Kommunikation","info":"","x":240,"y":440,"wires":[]},{"id":"d04345f5.69da48","type":"comment","z":"cbdee8c5.be4428","name":"Visualisierung","info":"","x":390,"y":880,"wires":[]},{"id":"96ccc0fb.f8e31","type":"debug","z":"526ee6df.936e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":120,"wires":[]},{"id":"39eb01ae.59708e","type":"change","z":"526ee6df.936e88","name":"Setze Payload und Topic","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Drehzahl (soll)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":160,"wires":[["96ccc0fb.f8e31","9ec2b6bc.f3b968"]]},{"id":"2b0cf714.e2e938","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"Inject","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":20,"wires":[["2f7a9428.80239c"]]},{"id":"4e738de5.827344","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["3185a6aa.c4583a"]]},{"id":"3185a6aa.c4583a","type":"function","z":"361d0b34.9c31d4","name":"Set coils register 0","func":"msg.payload = { \n    'value': msg.payload, \n    'register': 'coils', \n    'address': 0 ,\n    'disablemsg' : 1\n} ;\nreturn msg","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["2f7a9428.80239c"]]},{"id":"cf191362.0ef6a","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["3185a6aa.c4583a"]]},{"id":"b41cec95.4c2f5","type":"debug","z":"361d0b34.9c31d4","name":"holding ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":60,"wires":[]},{"id":"54f28fd.908617","type":"debug","z":"361d0b34.9c31d4","name":"coils ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":100,"wires":[]},{"id":"3c8a051c.76a9aa","type":"debug","z":"361d0b34.9c31d4","name":"input ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":140,"wires":[]},{"id":"274074.c4bbaf8c","type":"debug","z":"361d0b34.9c31d4","name":"discrete inputs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":180,"wires":[]},{"id":"2f7a9428.80239c","type":"modbus-flex-server","z":"361d0b34.9c31d4","name":"","logEnabled":false,"serverAddress":"127.0.0.1","serverPort":11502,"responseDelay":"50","unitId":"2","delayUnit":"ms","coilsBufferSize":20000,"registersBufferSize":20000,"minAddress":0,"splitAddress":10000,"funcGetCoil":"function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}","funcGetDiscreteInput":"function getFlexDiscreteInput(addr, unitID) {\n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}","funcGetInputRegister":"function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcGetHoldingRegister":"function getFlexHoldingRegsiter(addr, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcSetCoil":"function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}","funcSetRegister":"function setFlexRegister(addr, value, unitID) { \n\taddr += node.splitAddress\n\tif (unitID === node.unitId && \n\t\taddr >= node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}","showErrors":false,"x":600,"y":100,"wires":[["b41cec95.4c2f5"],["54f28fd.908617"],["3c8a051c.76a9aa"],["274074.c4bbaf8c"]]},{"id":"8f1b1340.fe865","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["7bd477b7.ef6d08"]]},{"id":"7bd477b7.ef6d08","type":"function","z":"361d0b34.9c31d4","name":"Set discrete register 0","func":"msg.payload = { \n    'value': msg.payload, \n    'register': 'discrete', \n    'address': 0 ,\n    'disablemsg' : 1\n} ;\nreturn msg","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["2f7a9428.80239c"]]},{"id":"223e43ae.c07bfc","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["7bd477b7.ef6d08"]]},{"id":"1ff14b1.28198b5","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["ee5ca5b.3a33758"]]},{"id":"ee5ca5b.3a33758","type":"function","z":"361d0b34.9c31d4","name":"Set holding register 0","func":"msg.payload = { \n    'value': msg.payload, \n    'register': 'holding', \n    'address': 0 ,\n    'disablemsg' : 1\n} ;\nreturn msg","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["2f7a9428.80239c"]]},{"id":"f603b9f2.3cbd68","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["ee5ca5b.3a33758"]]},{"id":"53cf6d56.fef5f4","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["92ca7c6e.7b29f"]]},{"id":"92ca7c6e.7b29f","type":"function","z":"361d0b34.9c31d4","name":"Set Input register 0","func":"msg.payload = { \n    'value': msg.payload, \n    'register': 'input', \n    'address': 0 ,\n    'disablemsg' : 1\n} ;\nreturn msg","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["2f7a9428.80239c"]]},{"id":"465a810f.7986a","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["92ca7c6e.7b29f"]]},{"id":"213203ec.23f79c","type":"modbus-flex-getter","z":"361d0b34.9c31d4","name":"Modbus Flexible Read","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"971757a0.4553f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":500,"y":640,"wires":[["799e1f4a.4be01","e309960c.fc04b8","a52e9fac.eacf2"],["3321a4fd.75002c","4048fc16.ae7ce4"]]},{"id":"e997431e.164d4","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["34eb8df9.686732"]]},{"id":"34eb8df9.686732","type":"function","z":"361d0b34.9c31d4","name":"FC1","func":"msg.payload = { 'fc': 1, 'unitid': 2, 'address': 0 , 'quantity': 16 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":580,"wires":[["213203ec.23f79c"]]},{"id":"799e1f4a.4be01","type":"debug","z":"361d0b34.9c31d4","name":"","active":false,"console":"false","complete":"payload","x":750,"y":540,"wires":[]},{"id":"3321a4fd.75002c","type":"debug","z":"361d0b34.9c31d4","name":"","active":false,"console":"false","complete":"true","x":730,"y":680,"wires":[]},{"id":"4048fc16.ae7ce4","type":"modbus-response","z":"361d0b34.9c31d4","name":"","registerShowMax":20,"x":770,"y":720,"wires":[]},{"id":"a52e9fac.eacf2","type":"debug","z":"361d0b34.9c31d4","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":730,"y":620,"wires":[]},{"id":"e309960c.fc04b8","type":"debug","z":"361d0b34.9c31d4","name":"","active":false,"tosidebar":true,"console":false,"complete":"responseBuffer","x":780,"y":580,"wires":[]},{"id":"e4d80346.197b9","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["14e01e27.4e3152"]]},{"id":"14e01e27.4e3152","type":"function","z":"361d0b34.9c31d4","name":"FC2","func":"msg.payload = { 'fc': 2, 'unitid': 1, 'address': 0 , 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["213203ec.23f79c"]]},{"id":"45c9d96c.9dae48","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":660,"wires":[["74cf924c.582b6c"]]},{"id":"74cf924c.582b6c","type":"function","z":"361d0b34.9c31d4","name":"FC3","func":"msg.payload = { 'fc': 3, 'unitid': 2, 'address': 0 , 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["213203ec.23f79c"]]},{"id":"c5498fe8.da6f1","type":"inject","z":"361d0b34.9c31d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[["295ec132.87a9fe"]]},{"id":"295ec132.87a9fe","type":"function","z":"361d0b34.9c31d4","name":"FC4","func":"msg.payload = { 'fc': 4, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["213203ec.23f79c"]]},{"id":"94cf4ef2.1c1d","type":"comment","z":"361d0b34.9c31d4","name":"Flexible Read and Write","info":"","x":140,"y":520,"wires":[]},{"id":"238ae589.1f35ba","type":"debug","z":"526ee6df.936e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":520,"wires":[]},{"id":"48c360e8.e9b01","type":"catch","z":"526ee6df.936e88","name":"","scope":null,"uncaught":false,"x":180,"y":520,"wires":[["238ae589.1f35ba"]]},{"id":"2b9f7082.81e13","type":"telegram event","z":"526ee6df.936e88","name":"","bot":"902ab2c9.3c73a","event":"callback_query","autoanswer":true,"x":200,"y":580,"wires":[["7f31fe4a.fb12d"]]},{"id":"d678c56a.735078","type":"telegram sender","z":"526ee6df.936e88","name":"show inline keyboard","bot":"902ab2c9.3c73a","x":660,"y":660,"wires":[[]]},{"id":"f67b3c17.43733","type":"function","z":"526ee6df.936e88","name":"inline keyboard message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Motor\",\n                    \"content\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Are you sure?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":390,"y":660,"wires":[["d678c56a.735078","9f03e176.549d3"]]},{"id":"ac77cd19.3bd0e","type":"telegram command","z":"526ee6df.936e88","name":"/foo","command":"/foo","bot":"902ab2c9.3c73a","strict":false,"x":170,"y":660,"wires":[["f67b3c17.43733"],[]]},{"id":"7f31fe4a.fb12d","type":"function","z":"526ee6df.936e88","name":"set  answer options","func":"var show_alert = true; // you can set this to true to open a dialog with the answer in the client.\n\n// msg.payload.content contains the callback data from the keyboard.\n// You may change this value here.\nmsg.payload.options = show_alert;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":410,"y":580,"wires":[["962dd88b.40d6e8","238ae589.1f35ba"]]},{"id":"962dd88b.40d6e8","type":"telegram sender","z":"526ee6df.936e88","name":"answer callback query","bot":"902ab2c9.3c73a","x":660,"y":580,"wires":[[]]},{"id":"9f03e176.549d3","type":"debug","z":"526ee6df.936e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":720,"wires":[]},{"id":"41d889a7.936818","type":"debug","z":"353c880b.f86888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":380,"wires":[]},{"id":"a46e5e74.f0a8e","type":"catch","z":"526ee6df.936e88","name":"","x":240,"y":840,"wires":[["4138c87c.e1f4a8"]]},{"id":"4138c87c.e1f4a8","type":"debug","z":"526ee6df.936e88","name":"Debug","active":true,"console":"false","complete":"payload","x":676,"y":838,"wires":[]},{"id":"c6588c46.56795","type":"function","z":"526ee6df.936e88","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Yes'],\n      ['No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":340,"y":900,"wires":[["9d923f04.f605b"]]},{"id":"ce85c693.fcfc88","type":"telegram command","z":"526ee6df.936e88","d":true,"name":"/foo","command":"/foo","bot":"902ab2c9.3c73a","strict":false,"x":130,"y":920,"wires":[["c6588c46.56795"],["d15e3db3.35883"]]},{"id":"d15e3db3.35883","type":"function","z":"526ee6df.936e88","name":"create response","func":"if(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Yes')\n    {\n        msg.payload.content = 'Yes';\n        return [msg, null];   \n    }\n    else\n    {\n        msg.payload.content = 'No';\n        return [null, msg];   \n    }\n}\n","outputs":"2","noerr":0,"x":320,"y":940,"wires":[["9d923f04.f605b"],[]]},{"id":"9d923f04.f605b","type":"telegram sender","z":"526ee6df.936e88","name":"send response","bot":"902ab2c9.3c73a","x":660,"y":1020,"wires":[[]]},{"id":"78962669.3b6f08","type":"telegram command","z":"526ee6df.936e88","name":"/help","command":"/help","bot":"902ab2c9.3c73a","strict":false,"x":130,"y":996,"wires":[["ccbada53.b0a868"],[]]},{"id":"ccbada53.b0a868","type":"function","z":"526ee6df.936e88","name":"create help text","func":"\nvar helpMessage = \"/help - shows help\\r\\n\";\nhelpMessage += \"/foo - opens a dialog\\r\\n\";\nhelpMessage += \"Your chat id is \" + msg.payload.chatId;\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\n\";\n\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":990,"wires":[["9d923f04.f605b"]]},{"id":"565449c5.9b8b68","type":"telegram receiver","z":"526ee6df.936e88","name":"location","bot":"902ab2c9.3c73a","saveDataDir":"","x":133,"y":1082,"wires":[["ee47f4e9.640c38"],[]]},{"id":"ee47f4e9.640c38","type":"function","z":"526ee6df.936e88","name":"create location message","func":"if(msg.payload.type == 'location')\n{\n    var lat = msg.payload.content.latitude;\n    var lng = msg.payload.content.longitude;\n    \n    msg.payload.type = 'message';\n    msg.payload.content = 'lat=' + lat + ' lon=' + lng;\n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"x":356,"y":1082,"wires":[["9d923f04.f605b"]]},{"id":"62085db4.d570f4","type":"inject","z":"526ee6df.936e88","name":"ping","topic":"","payload":"ping","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":1184,"wires":[["fffd2ae7.658dd8"]]},{"id":"fffd2ae7.658dd8","type":"function","z":"526ee6df.936e88","name":"send to specific chat","func":"\nmsg.payload = {chatId : 138708568, type : 'message', content : 'ping'}\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":1184,"wires":[["9d923f04.f605b"]]},{"id":"bc439091.8d2e9","type":"link out","z":"526ee6df.936e88","name":"","links":["d759d984.5c2ad8"],"x":675,"y":240,"wires":[]},{"id":"8673a8e1.2b8588","type":"inject","z":"5d0da1df.64672","name":"","topic":"","payload":"1231","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["44bdfe33.aef29"]]},{"id":"44bdfe33.aef29","type":"function","z":"5d0da1df.64672","name":"Hex to Bin","func":"var status = parseInt(msg.payload, 16).toString(2).padStart(16, '0');\nvar settings = global.get('settings');\nvar statusar = status.split(\"\");\nvar bezeichnung;\nvar value;\nvar statusword = [];\nvar bla = {};\n\nfor(i=0;i<statusar.length;i++)\n    if(statusar[i]==\"1\"){\n        bla = {\n            \"bezeichnung\": settings.statusword[i].Name,\n            \"value\": settings.statusword[i].Status1\n        }\n        statusword[i] = bla;\n    }\n    else if(statusar[i]==\"0\"){\n         bla = {\n            \"bezeichnung\": settings.statusword[i].Name,\n            \"value\": settings.statusword[i].Status0\n        }\n        statusword[i] = bla;\n    }\nreturn {\n    payload:statusword\n    };\n","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["b0225046.54761","9fdd089b.a153f8"]]},{"id":"9fdd089b.a153f8","type":"ui_table","z":"5d0da1df.64672","group":"7a618d81.1089a4","name":"","order":0,"width":"6","height":"11","columns":[],"outputs":0,"cts":false,"x":650,"y":220,"wires":[]},{"id":"e76e3fe1.ac47c","type":"inject","z":"5d0da1df.64672","name":"","topic":"","payload":"[{\"name\":\"MEQ0451495\",\"room\":\"Bathroom\",\"SET_TEMPERATURE-value\":22,\"ACTUAL_TEMPERATURE-value\":21.8,\"VALVE_STATE-value\":90,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":true,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875547\",\"room\":\"Living Room\",\"SET_TEMPERATURE-value\":12,\"ACTUAL_TEMPERATURE-value\":16.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":1},{\"name\":\"MEQ1875538\",\"room\":\"Living Room\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":19.5,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.6,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":2},{\"name\":\"MEQ0447462\",\"room\":\"Kitchen\",\"SET_TEMPERATURE-value\":17,\"ACTUAL_TEMPERATURE-value\":22.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":10,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":3},{\"name\":\"MEQ1875551\",\"room\":\"Office\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":20.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ0447425\",\"room\":\"Dining Room\",\"SET_TEMPERATURE-value\":19,\"ACTUAL_TEMPERATURE-value\":20.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875546\",\"room\":\"Dining Room\",\"SET_TEMPERATURE-value\":20,\"ACTUAL_TEMPERATURE-value\":18.8,\"VALVE_STATE-value\":99,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ0447483\",\"room\":\"Bedroom\",\"SET_TEMPERATURE-value\":17,\"ACTUAL_TEMPERATURE-value\":22.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875541\",\"room\":\"Child\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":20.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875552\",\"room\":\"Guest Room\",\"SET_TEMPERATURE-value\":20,\"ACTUAL_TEMPERATURE-value\":21.1,\"VALVE_STATE-value\":9,\"BATTERY_STATE-value\":2.8,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":420,"wires":[["bab6ad74.d86ec"]]},{"id":"bab6ad74.d86ec","type":"change","z":"5d0da1df.64672","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columnResized\":\"function(column){     var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.field});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\",\"groupHeader\":\"function (value, count, data, group) {return value + \\\"<span style='color:#d00; margin-left:10px;'>(\\\" + count + \\\" Termostat\\\"+((count>1) ? \\\"e\\\" : \\\"\\\") + \\\")</span>\\\";}\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"ROom\",\"field\":\"room\",\"width\":100,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Device\",\"field\":\"name\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Type\",\"field\":\"deviceType\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Measurements\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"target\",\"field\":\"SET_TEMPERATURE-value\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue()+'°C';}\",\"topCalc\":\"avg\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":10,\"max\":25,\"color\":[\"blue\",\"green\",\"red\"],\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'°C';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"left\"},\"title\":\"current\",\"field\":\"ACTUAL_TEMPERATURE-value\",\"formatter\":\"progress\",\"topCalc\":\"avg\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":99,\"color\":[\"gray\",\"orange\",\"red\"],\"legend\":\"function (value) {return (value>0)? '&nbsp;&nbsp;'+value+' %' : '-';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Valve\",\"field\":\"VALVE_STATE-value\",\"formatter\":\"progress\",\"topCalc\":\"max\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":1.5,\"max\":4.6,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {return value+' V';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Batt\",\"field\":\"BATTERY_STATE-value\",\"formatter\":\"progress\",\"topCalc\":\"min\",\"width\":100}]},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Settings\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":30,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {     if (value>0)         return \\\"<span style='color:#101010;'>\\\"+value+\\\" min</span>\\\";     else         return \\\"<span style='color:#A0A0A0;'>aus</span>\\\"; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Boost\",\"field\":\"BOOST_STATE-value\",\"formatter\":\"progress\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"allowEmpty\":true,\"allowTruthy\":true,\"tickElement\":\"<i class='fa fa-clock-o'></i>\",\"crossElement\":\"<i class='fa fa-ban'></i>\"},\"title\":\"Auto\",\"field\":\"AUTO_MODE-value\",\"formatter\":\"tickCross\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Mode\",\"field\":\"CONTROL_MODE-value\",\"formatter\":\"function(cell, formatterParams, onRendered){     var html=\\\"<i class=\\\\\\\"\\\";     switch(cell.getValue()) {         case 0: html+=\\\"fa fa-calendar-check-o\\\"; break;         case 1: html+=\\\"fa fa-hand-o-up\\\"; break;         case 2: html+=\\\"fa fa-suitcase\\\"; break;         case 3: html+=\\\"fa fa-spinner fa-spin fa-fw\\\"; break;     }     html+='\\\\\\\"></i>';     return html; }\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Auto\",\"field\":\"AUTO_MODE-value\",\"formatter\":\"tick\",\"width\":100,\"align\":\"center\"}]}],\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\"},\"customHeight\":12}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":376,"y":420,"wires":[["b9f5ab01.27e8a8"]]},{"id":"8333f5be.535fd8","type":"debug","z":"5d0da1df.64672","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":689,"y":420,"wires":[]},{"id":"b9f5ab01.27e8a8","type":"ui_table","z":"5d0da1df.64672","group":"f036ef60.c2453","name":"Thermostats","order":1,"width":"20","height":"7","columns":[],"outputs":1,"cts":true,"x":539,"y":420,"wires":[["8333f5be.535fd8"]]},{"id":"2188829a.2fe82e","type":"inject","z":"5d0da1df.64672","name":"","topic":"","payload":"1737","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["44bdfe33.aef29"]]}]