flows_waterpi.json
[{"id":"2e24eb45.7dd634","type":"tab","label":"Allgemeine Konfiguration","disabled":false,"info":""},{"id":"667af67e.3ba158","type":"tab","label":"Modbus","disabled":false,"info":""},{"id":"3a916e6b.fda3fa","type":"tab","label":"Datenbank","disabled":false,"info":""},{"id":"a0d83da.a88d1c","type":"tab","label":"1 Wire","disabled":true,"info":""},{"id":"1a96f948.1dadf7","type":"tab","label":"I2C","disabled":false,"info":""},{"id":"87ca9566.306a78","type":"tab","label":"GPIO","disabled":true,"info":""},{"id":"33889b04.9155b4","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"c39c52d0.ed8bd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3ba12bb.8f4ecd4","type":"subflow","name":"Motor","info":"","category":"","in":[{"x":180,"y":60,"wires":[{"id":"736e3b9f.3e1ad4"}]}],"out":[{"x":400,"y":60,"wires":[{"id":"736e3b9f.3e1ad4","port":0}]}],"env":[],"color":"#3177e8","icon":"font-awesome/fa-motorcycle"},{"id":"95cf0cd4.b7dce","type":"subflow","name":"Generator","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"603d8bb8.4fb0d4"}]}],"out":[{"x":280,"y":40,"wires":[{"id":"603d8bb8.4fb0d4","port":0}]}],"env":[],"color":"#45c42b","icon":"node-red/light.svg"},{"id":"8ea8edd0.1e9fc","type":"subflow","name":"Statuswort","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"5c046d7c.7d0cf4"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"5c046d7c.7d0cf4","port":0}]}],"env":[],"color":"#64a3a2","icon":"node-red/file-in.svg"},{"id":"139f7e78.1ea412","type":"subflow","name":"Steuerwort","info":"","category":"","in":[{"x":80,"y":40,"wires":[{"id":"1dc2a068.9391c"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"1dc2a068.9391c","port":0}]}],"env":[],"color":"#64a3a2","icon":"node-red/file-out.svg"},{"id":"ca2d413d.018c1","type":"subflow","name":"Drehzahl","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"13a85237.d9966e","type":"subflow","name":"Steuerung FU","info":"","category":"","in":[{"x":120,"y":240,"wires":[{"id":"2abff842.5ae56"}]}],"out":[{"x":680,"y":240,"wires":[{"id":"edd33236.e9d83","port":0},{"id":"bbc6471c.2f1ba8","port":0},{"id":"7afa8d9b.5c7d3c","port":0}]}],"env":[],"color":"#AAAAAA","inputLabels":["true/false"],"outputLabels":["payload.value = 1151/1150"],"icon":"font-awesome/fa-power-off"},{"id":"e47e49c2.1a6908","type":"subflow","name":"Topic Übersetzer Datenbank","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"e1c9e36e.b402e8"}]}],"out":[{"x":400,"y":100,"wires":[{"id":"e1c9e36e.b402e8","port":0}]}],"env":[],"color":"#ABCDEF","icon":"font-awesome/fa-chevron-circle-right"},{"id":"60bbd39c.f7656c","type":"ui_tab","z":"","name":"Home","icon":"home","disabled":false,"hidden":false},{"id":"206ec727.d24288","type":"ui_group","z":"","name":"Mitte","tab":"60bbd39c.f7656c","order":2,"disp":false,"width":"6","collapse":false},{"id":"395450ea.4e256","type":"ui_group","z":"","name":"Rechts","tab":"60bbd39c.f7656c","order":3,"disp":false,"width":"6","collapse":false},{"id":"9db1a27.ac8fe6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#4a5c66","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#4a5c66","edited":true},"page-titlebar-backgroundColor":{"value":"#4a5c66","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6a8492","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#4a5c66","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f655ec1c.781d8","type":"ui_group","z":"","name":"Links","tab":"60bbd39c.f7656c","order":1,"disp":false,"width":"12","collapse":false},{"id":"77b5ae5d.1eea8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"979ccf22.ba1a2","type":"modbus-client","z":"","name":"Test2","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"1000","unit_id":"1","commandDelay":"5","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ad23c142.73ee5","type":"telegram bot","z":"","botname":"WaterPi_THM","usernames":"","chatids":"6049244","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"82c85e6a.d18c08","type":"ui_group","z":"","name":"Default","tab":"7ec6ddb1.ecd23c","disp":true,"width":"6"},{"id":"7ec6ddb1.ecd23c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"dec7d81b.a33a88","type":"ui_gauge","z":"667af67e.3ba158","name":"Strom","group":"f655ec1c.781d8","order":7,"width":"4","height":"4","gtype":"gage","title":"Strom","label":"Amper","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":520,"wires":[]},{"id":"bc3022d7.3c64d","type":"ui_gauge","z":"667af67e.3ba158","name":"Spannung","group":"f655ec1c.781d8","order":6,"width":"4","height":"4","gtype":"gage","title":"Spannung","label":"Volt","format":"{{value}}","min":"350","max":"450","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":580,"wires":[]},{"id":"56c251a4.003fc","type":"ui_slider","z":"667af67e.3ba158","name":"","label":"Soll Drehzahl","tooltip":"0 bis 1500","group":"f655ec1c.781d8","order":1,"width":"0","height":"0","passthru":true,"outs":"end","topic":"{{global.get('settings')adr[5].bezeichnung}}","min":0,"max":"1500","step":"10","x":250,"y":240,"wires":[["e7d2c0b.2cdf7c"]]},{"id":"4af89824.66bce8","type":"1-Wire","z":"a0d83da.a88d1c","identifier":"28-031497940b33","name":"Temperatursensor","format":"1","x":370,"y":80,"wires":[["9bbafc83.542ca"]]},{"id":"676818bb.d16b2","type":"inject","z":"a0d83da.a88d1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["4af89824.66bce8"]]},{"id":"64264f2.b36fa3","type":"ui_gauge","z":"a0d83da.a88d1c","name":"Temperatur","group":"206ec727.d24288","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":60,"wires":[]},{"id":"6e132dde.c97a3c","type":"rbe","z":"a0d83da.a88d1c","name":"rbe","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":80,"wires":[["64264f2.b36fa3","d9b33c1d.153b28"]]},{"id":"9bbafc83.542ca","type":"smooth","z":"a0d83da.a88d1c","name":"","property":"payload","action":"mean","count":"2","round":"1","mult":"single","reduce":true,"x":540,"y":80,"wires":[["6e132dde.c97a3c"]]},{"id":"d9b33c1d.153b28","type":"debug","z":"a0d83da.a88d1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":120,"wires":[]},{"id":"254a8f84.45514","type":"inject","z":"1a96f948.1dadf7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["d832cb5c.235328"]]},{"id":"5eb53095.a6","type":"debug","z":"1a96f948.1dadf7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"d832cb5c.235328","type":"ncd-ads1115","z":"1a96f948.1dadf7","name":"","connection":"","addr":"73","interval":"100","outputs":1,"output_all":false,"output_mult":"1","channel_1":"4","channel_2":"5","channel_3":"6","channel_4":"7","gain":"0","mode":"2","rate":"4","compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":300,"y":80,"wires":[["5eb53095.a6"]]},{"id":"74c8cfaa.4e12c","type":"ui_gauge","z":"667af67e.3ba158","name":"","group":"f655ec1c.781d8","order":4,"width":"4","height":"4","gtype":"gage","title":"{{msg.payload.bezeichnung}}","label":"U/min","format":"{{value}}","min":0,"max":"1500","colors":["#ca3838","#00b500","#ca3838"],"seg1":"100","seg2":"1400","x":1090,"y":1260,"wires":[]},{"id":"40cfae20.ad9fc","type":"function","z":"667af67e.3ba158","name":"","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 2, 'address': 100 , 'quantity': 15 };\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":840,"wires":[[]]},{"id":"ac4b6ef2.96837","type":"ui_gauge","z":"667af67e.3ba158","name":"Leistung","group":"f655ec1c.781d8","order":5,"width":"4","height":"4","gtype":"gage","title":"Leistung","label":"kW","format":"{{value}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":640,"wires":[]},{"id":"b8904e35.99b91","type":"ui_switch","z":"667af67e.3ba158","name":"","label":"Generator","tooltip":"","group":"f655ec1c.781d8","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"Steuerwort","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":180,"wires":[["ec299b6d.10386"]]},{"id":"2e63d23e.9da41e","type":"function","z":"667af67e.3ba158","name":"Dec to Binary","func":"var status = msg.payload[0].toString(2).padStart(16, '0');\nreturn {\n    payload:status\n    };","outputs":1,"noerr":0,"x":900,"y":700,"wires":[[]]},{"id":"89af5b91.959208","type":"debug","z":"87ca9566.306a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]},{"id":"3e01e072.62e66","type":"rpi-gpio in","z":"87ca9566.306a78","name":"","pin":"11","intype":"up","debounce":"10","read":true,"x":140,"y":120,"wires":[["ee64c6b3.a5e848"]]},{"id":"ee64c6b3.a5e848","type":"switch","z":"87ca9566.306a78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":120,"wires":[["e8aa7671.b5c6f8"]]},{"id":"e8aa7671.b5c6f8","type":"join","z":"87ca9566.306a78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"[]","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":120,"wires":[["59e184bf.048cbc"]]},{"id":"59e184bf.048cbc","type":"function","z":"87ca9566.306a78","name":"","func":"msg.payload = msg.payload.length*12;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["84e90a6b.c05718"]]},{"id":"84e90a6b.c05718","type":"change","z":"87ca9566.306a78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"12","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["89af5b91.959208"]]},{"id":"5bf8fb30.8aad84","type":"comment","z":"87ca9566.306a78","name":"Drehzahl erfassen","info":"","x":150,"y":60,"wires":[]},{"id":"8ffa79d5.aaabd8","type":"comment","z":"a0d83da.a88d1c","name":"Temperatur erfassen","info":"","x":170,"y":40,"wires":[]},{"id":"99423762.76f418","type":"ui_button","z":"667af67e.3ba158","name":"","group":"206ec727.d24288","order":1,"width":0,"height":0,"passthru":true,"label":"Initialisieren","tooltip":"Initialisiert Motor und Generator nach Spannungsausfall","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":150,"y":180,"wires":[["5cddcd45.3c9c34","b8904e35.99b91"]]},{"id":"5cddcd45.3c9c34","type":"ui_switch","z":"667af67e.3ba158","name":"","label":"Motor","tooltip":"","group":"f655ec1c.781d8","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"Steuerwort","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":80,"wires":[["bb3d51b2.21ff1"]]},{"id":"e9f45dd9.e76bd","type":"ui_button","z":"667af67e.3ba158","name":"","group":"395450ea.4e256","order":1,"width":0,"height":0,"passthru":false,"label":"Alles aus","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":140,"y":80,"wires":[["5cddcd45.3c9c34","b8904e35.99b91"]]},{"id":"ba099d9.5326c6","type":"link in","z":"667af67e.3ba158","name":"Modbus: Motor: Soll_Drehzahl IN ","links":["aaf7fa1.3f1ac08","38608b85.067144"],"x":75,"y":240,"wires":[["56c251a4.003fc"]]},{"id":"1992c0e.f08fc3f","type":"link in","z":"667af67e.3ba158","name":"Modbus: Motor: An/Aus IN ","links":["9846386c.d6db28"],"x":175,"y":40,"wires":[["5cddcd45.3c9c34"]]},{"id":"f644c891.e62328","type":"telegram command","z":"33889b04.9155b4","name":"motoraus","command":"/motoraus","bot":"ad23c142.73ee5","strict":false,"x":140,"y":100,"wires":[["8a8f4e52.3c634"],[]]},{"id":"b282e6ee.eb2c58","type":"telegram command","z":"33889b04.9155b4","name":"motoran","command":"/motoran","bot":"ad23c142.73ee5","strict":false,"x":140,"y":180,"wires":[["27ef88e.6f6a778"],[]]},{"id":"27ef88e.6f6a778","type":"switch","z":"33889b04.9155b4","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":160,"wires":[["11d0fd43.47a5b3"],["b3bc9b40.717218","11d0fd43.47a5b3"]]},{"id":"11d0fd43.47a5b3","type":"change","z":"33889b04.9155b4","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":140,"wires":[["9846386c.d6db28"]]},{"id":"b3bc9b40.717218","type":"change","z":"33889b04.9155b4","name":"Drehzahl auslesen","rules":[{"t":"set","p":"payload.value","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["6239a621.edf268"]]},{"id":"8a8f4e52.3c634","type":"change","z":"33889b04.9155b4","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":100,"wires":[["9846386c.d6db28"]]},{"id":"9846386c.d6db28","type":"link out","z":"33889b04.9155b4","name":"Telegram: Motor: An/Aus OUT","links":["1992c0e.f08fc3f"],"x":575,"y":120,"wires":[]},{"id":"6239a621.edf268","type":"function","z":"33889b04.9155b4","name":"String to Int","func":"\nmsg.payload.value = parseInt(msg.payload.value);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["44d9322b.415b74"]]},{"id":"38608b85.067144","type":"link out","z":"33889b04.9155b4","name":"Telegram: Motor: Soll_Drehzahl OUT","links":["ba099d9.5326c6"],"x":1035,"y":140,"wires":[]},{"id":"c52831d8.9f99e","type":"modbus-flex-write","z":"667af67e.3ba158","name":"Flex Writer","showStatusActivities":true,"showErrors":false,"server":"979ccf22.ba1a2","x":690,"y":980,"wires":[[],[]]},{"id":"62ef1661.c98b68","type":"link in","z":"667af67e.3ba158","name":"Modbus: IN","links":["7b91631c.e2e74c"],"x":55,"y":1020,"wires":[["6472390d.68f62"]]},{"id":"7b91631c.e2e74c","type":"link out","z":"667af67e.3ba158","name":"Modbus: Motor: Steuerwort OUT","links":["62ef1661.c98b68"],"x":835,"y":180,"wires":[]},{"id":"39f7f741.634848","type":"function","z":"667af67e.3ba158","name":"Motor Steuerwort","func":"msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 2, 'address': 0 , 'quantity': 1, 'rw':\"schreiben\" }\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":100,"wires":[[]]},{"id":"70e7d219.23c33c","type":"function","z":"667af67e.3ba158","name":"Generator Steuerwort","func":"msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 3, 'address': 0 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":280,"wires":[[]]},{"id":"2a9e6cd8.69f684","type":"delay","z":"667af67e.3ba158","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.05","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":1080,"wires":[["e86b79d7.a7d6c8"]]},{"id":"e6cc087a.1c3378","type":"function","z":"667af67e.3ba158","name":"Motor Steuerwort","func":"msg.payload = { value: msg.payload, 'fc': 6, 'unitid': 2, 'address': 1 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":240,"wires":[[]]},{"id":"5154be3f.4898a","type":"inject","z":"2e24eb45.7dd634","name":"Einstellungsdatei erstellen","topic":"","payload":"{\"modbusid\":[{\"name\":\"Motor\",\"id\":2},{\"name\":\"Generator\",\"id\":3}],\"adr\":[{\"bezeichnung\":\"Drehzahl (ist)\",\"adr\":100,\"rw\":\"lesen\",\"fc\":3,\"abf\":true},{\"bezeichnung\":\"Strom\",\"adr\":106,\"rw\":\"lesen\",\"fc\":3,\"abf\":true},{\"bezeichnung\":\"Spannung\",\"adr\":106,\"rw\":\"lesen\",\"fc\":3,\"abf\":true},{\"bezeichnung\":\"Leistung\",\"adr\":106,\"rw\":\"lesen\",\"fc\":3,\"abf\":true},{\"bezeichnung\":\"Statuswort\",\"adr\":3,\"rw\":\"lesen\",\"fc\":3,\"abf\":false},{\"bezeichnung\":\"Drehzahl (soll)\",\"adr\":1,\"rw\":\"schreiben\",\"fc\":6,\"abf\":false},{\"bezeichnung\":\"Steuerwort\",\"adr\":0,\"rw\":\"schreiben\",\"fc\":6,\"abf\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["d4f4da95.9f01e8"]],"icon":"node-red/file-out.svg"},{"id":"bb5f2ea8.e8925","type":"debug","z":"2e24eb45.7dd634","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":140,"wires":[]},{"id":"f4e2d5f1.f18cf8","type":"function","z":"2e24eb45.7dd634","name":"In Globaler Varibale Settings speichern","func":"global.set('settings',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["5dd9cd02.641e34"]]},{"id":"8ba76c64.d529e","type":"function","z":"2e24eb45.7dd634","name":"Steuerwort","func":"var settings = global.get('settings');\nvar name = \"Steuerwort\";\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload = {'Bezeichnung':daten.bezeichnung,\n    'adress':daten.adresse,\n    'rw': daten.rw,\n    'fc':daten.fc,\n    'quantity':1\n    };\n  }\n}\n\n\nreturn msg.payload;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["75d1e4b.f0e931c"]]},{"id":"75d1e4b.f0e931c","type":"debug","z":"2e24eb45.7dd634","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":580,"wires":[]},{"id":"e231b06f.cbb3d","type":"inject","z":"2e24eb45.7dd634","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["8ba76c64.d529e"]]},{"id":"e86b79d7.a7d6c8","type":"switch","z":"667af67e.3ba158","name":"","property":"payload.rw","propertyType":"msg","rules":[{"t":"eq","v":"schreiben","vt":"str"},{"t":"eq","v":"lesen","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1080,"wires":[["c52831d8.9f99e","77056186.76e98"],["4330930c.2395dc","af801729.243e18","d95de6bf.57f678"]]},{"id":"4330930c.2395dc","type":"modbus-flex-getter","z":"667af67e.3ba158","name":"Flex Getter","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"979ccf22.ba1a2","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":690,"y":1120,"wires":[[],["90c566c.125af98"]]},{"id":"1eaddf6c.dd5f91","type":"link out","z":"667af67e.3ba158","name":"Modbus: Flex Getter OUT","links":[],"x":835,"y":1160,"wires":[]},{"id":"736e3b9f.3e1ad4","type":"function","z":"3ba12bb.8f4ecd4","name":"Motor","func":"var settings = global.get('settings');\nvar index = 0;\n    msg.payload['idname'] = settings.modbusid[index].name;\n    msg.payload['unitid'] = settings.modbusid[index].id;\nreturn msg;\n\n/*\nvar settings = global.get('settings');\nvar name = \"Steuerwort\";\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;*/","outputs":1,"noerr":0,"x":290,"y":60,"wires":[[]]},{"id":"603d8bb8.4fb0d4","type":"function","z":"95cf0cd4.b7dce","name":"Generator","func":"var settings = global.get('settings');\nvar i = 1;\n/*var value = msg.payload;*/\n    msg.payload['idname'] = settings.modbusid[i].name;\n    msg.payload['unitid'] = settings.modbusid[i].id;\nreturn msg;\n","outputs":1,"noerr":0,"x":160,"y":40,"wires":[[]]},{"id":"5c046d7c.7d0cf4","type":"function","z":"8ea8edd0.1e9fc","name":"Generator","func":"var settings = global.get('settings');\nvar i = 1;\nmsg.payload = { value: msg.payload, 'fc': settings.modbusid[i].name, 'address': 0 , 'quantity': 1 }\nreturn msg.payload;","outputs":1,"noerr":0,"x":180,"y":40,"wires":[[]]},{"id":"1dc2a068.9391c","type":"function","z":"139f7e78.1ea412","name":"Steuerwort","func":"var settings = global.get('settings');\nvar name = \"Steuerwort\";\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":40,"wires":[[]]},{"id":"239737c.4240dc8","type":"subflow:3ba12bb.8f4ecd4","z":"667af67e.3ba158","name":"","env":[],"x":670,"y":80,"wires":[["7b91631c.e2e74c","caadd902.45dc58"]]},{"id":"a8f7f74e.ea2218","type":"subflow:139f7e78.1ea412","z":"667af67e.3ba158","name":"","env":[],"x":970,"y":60,"wires":[[]]},{"id":"3ae10e66.380972","type":"debug","z":"667af67e.3ba158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":1180,"wires":[]},{"id":"44c10347.d596ec","type":"function","z":"ca2d413d.018c1","name":"Steuerwort","func":"var settings = global.get('settings');\nvar name = \"Steuerwort\";\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[[]]},{"id":"cecc80e6.1785b","type":"function","z":"667af67e.3ba158","name":"Abfrageübersetzung","func":"var settings = global.get('settings');\nvar j = 0;\nvar abfrage = true;\nfor (var i = 0; i < settings.adr.length; i++){\n     // look for the entry with a matching `code` value\n    if (settings.adr[i].abf == abfrage){\n        msg.topic = settings.adr[i].bezeichnung;\n        node.send(msg);\n    }\n}\nreturn;\n\n","outputs":1,"noerr":0,"x":180,"y":1260,"wires":[["c9b5695a.dbf198"]]},{"id":"aa2b0860.b7ae38","type":"inject","z":"667af67e.3ba158","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1440,"wires":[["1600a74f.d44f51"]]},{"id":"c9b5695a.dbf198","type":"subflow:3ba12bb.8f4ecd4","z":"667af67e.3ba158","name":"","env":[],"x":190,"y":1180,"wires":[[]]},{"id":"d95de6bf.57f678","type":"join","z":"667af67e.3ba158","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":1240,"wires":[["9bec8eca.1e22e","3ae10e66.380972"]]},{"id":"90c566c.125af98","type":"function","z":"667af67e.3ba158","name":"","func":"msg.payload={value: msg.payload[0]}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1180,"wires":[[]]},{"id":"d4f4da95.9f01e8","type":"file","z":"2e24eb45.7dd634","name":"","filename":"/home/pi/.node-red/customsettings/settings_waterpi.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":140,"wires":[[]]},{"id":"af801729.243e18","type":"function","z":"667af67e.3ba158","name":"Getter Emulator","func":"msg.payload = {'valueread':400}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1240,"wires":[["d95de6bf.57f678"]]},{"id":"825f6edd.d372","type":"switch","z":"667af67e.3ba158","name":"","property":"payload.bezeichnung","propertyType":"msg","rules":[{"t":"eq","v":"Leistung","vt":"str"},{"t":"eq","v":"Strom","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1320,"wires":[["74c8cfaa.4e12c"],[]]},{"id":"5e6d1a73.2ce524","type":"function","z":"667af67e.3ba158","d":true,"name":"Abfrageübersetzung","func":"var settings = global.get('settings');\nfor(i=0; i<settings.abfragen.length; i++){\n}\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":920,"wires":[[]]},{"id":"fb50715c.b9036","type":"subflow:95cf0cd4.b7dce","z":"667af67e.3ba158","name":"","env":[],"x":310,"y":1440,"wires":[[]]},{"id":"9bec8eca.1e22e","type":"switch","z":"667af67e.3ba158","name":"Motor oder Generator","property":"payload.idname","propertyType":"msg","rules":[{"t":"eq","v":"Motor","vt":"str"},{"t":"eq","v":"Generator","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":1380,"wires":[["825f6edd.d372"],[]],"outputLabels":["Motor","Generator"]},{"id":"2924aeaa.cd4aa2","type":"split","z":"667af67e.3ba158","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":520,"y":1440,"wires":[[]]},{"id":"8096fa2f.9c1fc8","type":"function","z":"667af67e.3ba158","name":"Abfrageübersetzung neu","func":"var settings = global.get('settings');\nvar abf = true;\nvar abfragen = []\nvar msg1 = {payload: msg.payload};\nmsg1.payload['abfragen'] = settings.adr;\n\n/*    for (var i = 0; i < settings.adr.length; i++){\n     // look for the entry with a matching `code` value\n        if (settings.adr[i].abf == abf){\n            var daten = settings.adr[i];\n            msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n            msg.payload['address'] = daten.adr;\n            msg.payload['rw'] = daten.rw;\n            msg.payload['fc'] = daten.fc;\n            msg.payload['quantity'] = 1;\n        }\n        \n    } \n\n*/\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":550,"y":1320,"wires":[[]]},{"id":"8a6878b.8a28108","type":"file in","z":"2e24eb45.7dd634","name":"","filename":"/home/pi/.node-red/customsettings/settings_waterpi.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":220,"wires":[["fc9168b7.74a4c8"]]},{"id":"8f01e4a9.00694","type":"inject","z":"2e24eb45.7dd634","name":"Einstellungsdatei einlesen","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":220,"wires":[["8a6878b.8a28108"]]},{"id":"c03ffeb6.c948","type":"debug","z":"2e24eb45.7dd634","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":380,"wires":[]},{"id":"fc9168b7.74a4c8","type":"json","z":"2e24eb45.7dd634","name":"","property":"payload","action":"","pretty":false,"x":410,"y":280,"wires":[["f4e2d5f1.f18cf8"]]},{"id":"38629ff3.d9c4e","type":"ui_toast","z":"2e24eb45.7dd634","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1170,"y":280,"wires":[]},{"id":"5dd9cd02.641e34","type":"change","z":"2e24eb45.7dd634","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Daten erfolgreich aus Einstellung gelesen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":280,"wires":[["38629ff3.d9c4e"]]},{"id":"3903bae0.3ab37e","type":"ui_toast","z":"667af67e.3ba158","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Initialisieren","cancel":"Steuerungsneustart","raw":false,"topic":"","name":"","x":270,"y":120,"wires":[["e0ef8f23.22ee88"]]},{"id":"86bc8722.ac1ab","type":"inject","z":"667af67e.3ba158","name":"","topic":"","payload":"Es wurde ein Spannungsaufsfall der Frequenzumrichter oder der Steuerung dedektiert. Bitte Initialisieren Sie die Frequenzumrichter um eine Steuerung zu ermöglichen. Sollte nur die Steuerung neu gestartet worden sein bestätigen Sie bitte mit Steuerungsneustart.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["3903bae0.3ab37e"]]},{"id":"e0ef8f23.22ee88","type":"switch","z":"667af67e.3ba158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Steuerungsneustart","vt":"str"},{"t":"eq","v":"Initialisieren","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":120,"wires":[[],["99423762.76f418"]],"outputLabels":["Steuerungsneustart","Initialisieren"]},{"id":"caadd902.45dc58","type":"debug","z":"667af67e.3ba158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":140,"wires":[]},{"id":"edd33236.e9d83","type":"change","z":"13a85237.d9966e","name":"Anschalten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":1151}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[[]]},{"id":"bbc6471c.2f1ba8","type":"change","z":"13a85237.d9966e","name":"Abschalten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":1150}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[[]]},{"id":"2abff842.5ae56","type":"switch","z":"13a85237.d9966e","name":"True/False/Drehzahl","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":280,"y":240,"wires":[["edd33236.e9d83"],["bbc6471c.2f1ba8"],["7afa8d9b.5c7d3c"]]},{"id":"bb3d51b2.21ff1","type":"subflow:13a85237.d9966e","z":"667af67e.3ba158","name":"","env":[],"x":510,"y":80,"wires":[["239737c.4240dc8"]]},{"id":"ec299b6d.10386","type":"subflow:13a85237.d9966e","z":"667af67e.3ba158","name":"","x":510,"y":180,"wires":[["18ab7dea.9a82f2"]]},{"id":"e7d2c0b.2cdf7c","type":"subflow:13a85237.d9966e","z":"667af67e.3ba158","name":"","env":[],"x":510,"y":240,"wires":[["65e36ea2.9afdf8"]]},{"id":"ef30bd97.14213","type":"debug","z":"667af67e.3ba158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":460,"wires":[]},{"id":"7afa8d9b.5c7d3c","type":"change","z":"13a85237.d9966e","name":"Drehzahl","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[[]]},{"id":"4fd656ee.5d734","type":"comment","z":"13a85237.d9966e","name":"true/false/Drehzahl","info":"Der Subflof aktzeptiert true/false oder einen Nummerischen Wert um daraus die richtigen Werte für msg.payload.value zu extrahieren. Der Subflow kann universell eingesetzt werden und ist in jeder Kette die an den Flex Writer führt notwendig.","x":210,"y":140,"wires":[]},{"id":"65e36ea2.9afdf8","type":"subflow:3ba12bb.8f4ecd4","z":"667af67e.3ba158","name":"","env":[],"x":670,"y":240,"wires":[["7b91631c.e2e74c"]]},{"id":"18ab7dea.9a82f2","type":"subflow:95cf0cd4.b7dce","z":"667af67e.3ba158","name":"","x":690,"y":180,"wires":[["7b91631c.e2e74c"]]},{"id":"b149b12a.2973c8","type":"subflow:139f7e78.1ea412","z":"667af67e.3ba158","name":"","env":[],"x":970,"y":100,"wires":[[]]},{"id":"e1c9e36e.b402e8","type":"function","z":"e47e49c2.1a6908","name":"Topic Übersetzen","func":"var settings = global.get('settings');\nvar name = msg.topic;\nvar old = msg.payload;\nfor (var i = 0; i < settings.adr.length; i++){\n  // look for the entry with a matching `code` value\n  if (settings.adr[i].bezeichnung == name){\n    var daten = settings.adr[i];\n    msg.payload[\"bezeichnung\"] = daten.bezeichnung;\n    msg.payload['address'] = daten.adr;\n    msg.payload['rw'] = daten.rw;\n    msg.payload['fc'] = daten.fc;\n    msg.payload['quantity'] = 1; \n  }\n}  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[[]]},{"id":"6472390d.68f62","type":"subflow:e47e49c2.1a6908","z":"667af67e.3ba158","name":"","env":[],"x":260,"y":1020,"wires":[["2a9e6cd8.69f684"]]},{"id":"5d08f94d.6d3718","type":"ui_switch","z":"c39c52d0.ed8bd8","name":"","label":"switch","group":"82c85e6a.d18c08","order":0,"width":0,"height":0,"passthru":true,"topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":160,"wires":[["f3587b47.677088"]]},{"id":"f3587b47.677088","type":"function","z":"c39c52d0.ed8bd8","name":"control","func":"if (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return msg; // if enabled pass msg\n}\nreturn null; // or drop it","outputs":1,"noerr":0,"x":498,"y":180,"wires":[["625d86f8.ce1d38"]]},{"id":"f9e87bea.ac282","type":"inject","z":"c39c52d0.ed8bd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":332.5,"y":222,"wires":[["f3587b47.677088"]]},{"id":"625d86f8.ce1d38","type":"debug","z":"c39c52d0.ed8bd8","name":"","active":true,"console":"false","complete":"payload","x":708.5,"y":181,"wires":[]},{"id":"329fba8e.06a0ee","type":"comment","z":"c39c52d0.ed8bd8","name":"Gate .. vielleicht nützlich","info":"","x":350,"y":120,"wires":[]},{"id":"77056186.76e98","type":"debug","z":"667af67e.3ba158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":1040,"wires":[]},{"id":"8a0b1e60.777","type":"split","z":"667af67e.3ba158","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":340,"y":1320,"wires":[[]]},{"id":"1600a74f.d44f51","type":"change","z":"667af67e.3ba158","name":"Time set","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":1340,"wires":[["cecc80e6.1785b"]]},{"id":"44d9322b.415b74","type":"switch","z":"33889b04.9155b4","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"1500","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":180,"wires":[["38608b85.067144"],["f308ecc7.7b03f8"]],"outputLabels":["0-1500","otherwise"]},{"id":"bd00c5a7.6f9358","type":"telegram sender","z":"33889b04.9155b4","name":"Test","bot":"ad23c142.73ee5","x":1110,"y":280,"wires":[[]]},{"id":"f308ecc7.7b03f8","type":"change","z":"33889b04.9155b4","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Bitte geben Sie einen Drehzahlwert zwischen 0 und 1500 im Format /motoran xxxx an.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":280,"wires":[["bd00c5a7.6f9358"]]},{"id":"17fb9a7e.f9d1de","type":"telegram command","z":"33889b04.9155b4","name":"status","command":"/status","bot":"ad23c142.73ee5","strict":false,"x":130,"y":360,"wires":[[],[]]}]